@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

.portfolio {

    background-color: $mainColor;
    //background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    //background-image: linear-gradient( #9ce9f3,#d6b8f7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .one{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 98%;
        // border: 1px solid black;
        .first{
            margin: 0px 20px;
            height: 90%;
            width: 400px;
            // background-color: rgb(90, 230, 162);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            .about{
                height: 65%;
                width: 95%;
                border: 2px solid #3e7e55;
                // background-color: white;
                h1{
                    text-align: center;
                    font-family: 'Courier New', Courier, monospace;
                    color: #3e7e55;
                    padding-bottom: 25px;
                    padding-top: 40px;
                }
                p{
                    color: #3e7e55;
                    text-align: center;
                    padding-left: 25px;
                    padding-right: 25px;
                    font-size: 15x;
                }
            }
        }
        .second{
            margin: 0px 20px;
            height: 90%;
            width: 450px;
            background-image: url(https://i.pinimg.com/564x/59/bb/38/59bb38fbdb4e4fb72e2b827b2aaface0.jpg);
            //background-image: url(https://i.pinimg.com/564x/48/3a/5c/483a5ceecf47d54e03db56dbb3f4197a.jpg);
        }
        .third{
            margin: 0px 20px;
            height: 90%;
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .tech{
                height: 70%;
                width: 95%;
                background-color: #d3b6b6;
                //background-image: linear-gradient(to right, #d3b6b6,#ED8D8D);
                background-image: linear-gradient(to bottom right,#CADEA8, #AADCB6);
                h1{
                    text-align: center;
                    font-family: 'Courier New', Courier, monospace;
                    color: rgb(0, 0, 0);
                    padding-top: 35px;
                    padding-bottom: 30px;
                }
                .flex-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    .left{
                        font-weight: 400;
                        margin-left: 45px;
                        margin-right: 65px;
                        p{
                            margin-bottom: 9px;
                        }
                    }
                    .right{
                            font-weight: 400;
                            p{
                                margin-bottom: 9px;
                            }
                        }
                    }
            }
            .design{
                height: 25%;
                width: 95%;
                //background-color: #e6e6e6;
                background-color:#fbc687;
                background-image: linear-gradient(to bottom right,#CADEA8, #AADCB6);
                h1{
                    text-align: center;
                    font-family: 'Courier New', Courier, monospace;
                    color: rgb(0, 0, 0);
                    padding-top: 8px;
                    padding-bottom: 10px;
                }
                .flex-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    .left{
                        font-weight: 400;
                        margin-left: 45px;
                        margin-right: 65px;
                        p{
                            margin-bottom: 7px;
                        }
                    }
                    .right{
                            font-weight: 400;
                            p{
                                margin-bottom: 7px;
                            }
                        }
                    }
            }
        }
    }
}