@import "..//..//global.scss";


.contact {
    background-color: #100c0d;
    //background: linear-gradient(90deg, #d9e7ff 0%, #e3ffe7 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    .wrap {
        width: 100%;
        height: 100%;      
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: royalblue;
        margin-top: -5%;

        .left{
            margin-top: 30px;
            padding: 40px 50px;
            width: 550px;
            height: 350px;
            z-index: 1;
            background-color: rgb(224, 240, 233);
            border-radius: 3%;
            box-shadow: rgba(14, 30, 37, 0.191) 0px 2px 4px 0px, rgba(14, 30, 37, 0.426) 0px 2px 16px 0px;

            h2 {
                font-size: 30px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                input {
                    background-color: rgb(213, 235, 240);
                    color: black;
                    width: 420px;
                    height: 30px;
                    padding: 5px; 
                    padding-left: 10px;
                    font-size: 14px;
                    border: 0.1px solid $mainColor;
                    margin-bottom: 15px;
                    border-radius: 3px;
                }
                textarea {
                    background-color: rgb(213, 235, 240);
                    color: black;
                    width: 420px;
                    height: 100px;
                    padding: 5px; 
                    padding-left: 10px;
                    font-size: 14px;
                    border: 0.1px solid $mainColor;
                    margin-bottom: 20px;
                    border-radius: 3px;
                }
                
                    button:hover{cursor: pointer}
                    button {
                      margin-left: 291px;
                      background: $mainColor;
                      outline: none;
                      position: relative;
                      border: 2px solid #111;
                      border-radius: 5px;
                      padding: 12px 20px;
                      overflow: hidden;
                    }
                
                    *, *:before, *:after{
                        box-sizing: border-box;
                        padding: 0; margin: 0;
                        // font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                      }

                    /*button:before (attr data-hover)*/
                    button:hover:before{opacity: 1; transform: translate(0,0);}
                    button:before{
                      content: attr(data-hover);
                      position: absolute;
                      top: 1.1em; left: 0;
                      width: 100%;
                      text-transform: uppercase;
                      letter-spacing: 3px;
                      font-weight: 800;
                      font-size: .8em;
                      opacity: 0;
                      transform: translate(-100%,0);
                      transition: all .8s ease-in-out;
                    }
                      /*button div (button text before hover)*/
                      button:hover div{opacity: 0; transform: translate(100%,0)}
                      button div{
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        font-weight: 800;
                        font-size: .8em;
                        transition: all .8s ease-in-out;
                      }



                // button {
                //     width: 150px;
                //     height: 40px;
                //     padding: 5px;
                //     color: white;
                //     background-color: $mainColor;
                //     border: none;
                //     border-radius: 5px;
                //     font-weight: 500;
                //     margin-left: 286px;
                //     cursor: pointer;
            
                //     &:focus {
                //       outline: none;
                //     }
                //   }
            }
        }
        .right{
            border-radius: 3%;
            margin-left: -150px;
            margin-top: 8%;
            z-index: 2;
            padding: 30px;
            width: 300px;
            height: 350px;
            background-color: #CC8B65;
            color: $mainColor;
            box-shadow: rgba(14, 30, 37, 0.201) 0px 2px 4px 0px,rgba(14, 30, 37, 0.338) 0px 2px 16px 0px;
            transition: all 1s ease;

            &:hover {
                transform: scale(1.02);
            }

            h2 {
                font-size: 30px;
                margin: 30px 15px;
            }
            p {
                font-size: 15px;
                font-weight: 500;
                //margin-bottom: 30px;
                margin: 25px 15px;
            }
            .container{
                display: flex;
                // color: $mainColor;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                font-size: 13px;
                margin: 0px 10px;
                margin-bottom: 15px;
                h4 {
                    font-weight: 400;
                }
                .icon{
                    margin-right: 15px;
                }
            }
            // .container2{
            //     font-size: 13px;
            //     margin: 0px 10px;
            //     margin-bottom: 20px;
            //     a{
            //         display: flex;
            //     align-items: center;
            //     flex-direction: row;
            //     justify-content: flex-start;
            //     .email{
            //         margin-right: 15px;
            //     }
            //     h4 {
            //         font-weight: 300;
            //     }
            //         text-decoration: none;
            //         color: inherit;
            //       }
            // }
            // .container3{
            //     display: flex;
            //     align-items: center;
            //     flex-direction: row;
            //     justify-content: flex-start;
            //     font-size: 13px;
            //     margin: 0px 10px;
            //     margin-bottom: 20px;
            //     h4 {
            //         font-weight: 300;
            //     }
            //     .phone{
            //         margin-right: 15px;
            //     }
            // }
        }
    }
    
}