@import "../../global.scss";

.works {
  //background-image: linear-gradient(#E1FCFD, #67d4e2);
  background-color: #100c0d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    // @include mobile {
    //   display: none;
    // }

    &.left {
      left: 200px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 200px;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    // @include mobile {
    //   height: 100vh;
    //   flex-direction: column;
    //   justify-content: center;
    // }

    .container {
      //height: 98%;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      

      .item {
        width: 700px;
        height: 89%;
        background-color: #c7a794;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 5px solid black;
        animation: mymove 5s infinite;
        box-shadow: 5px 5px 5px #7a5915;
        @keyframes mymove {
          30% {box-shadow: 10px 10px 10px #462e11;}
        }
        
        
        // @include mobile {
        //   width: 80%;
        //   height: 150px;
        //   margin: 15px 0;
        // }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(167, 90, 62);
              display: flex;
              align-items: center;
              justify-content: center;

            //   @include mobile {
            //     width: 20px;
            //     height: 20px;
            //   }

              img {
                width: 25px;

                // @include mobile {
                //   width: 15px;
                // }
              }
            }
            h2 {
              font-size: 20px;

            //   @include mobile{
            //     font-size: 13px;
            //   }
            }
            p {
              font-size: 13px;
            //   @include mobile{
            //     display: none;
            //   }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}



// .works{
//     background-image: linear-gradient(#E1FCFD, #9ce9f3);
//     //background-image: linear-gradient(#25bbcf,#2c73b6);
//     //background-color: lightgreen;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     .slider{
//         height: 350px;
//         display: flex;
//         position: absolute;
//         left:0;
//         .container{
//             width: 100vw;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             .items{
//                 width: 700px;
//                 height: 100%;
//                 background-color: white;
//                 border-radius: 20px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 .left{
//                     flex: 4;
//                     height: 80%;
//                 }
//                 .right{
//                     flex: 8;
//                     height: 100%;
//                 }
//             }
//         }
//     }
// }